<ng-container>
    <header>
        <nav>
            <ul id="menuPrincipal">
                <a href="#inicio"><li> Início </li></a>
                <a href="#aEmpresa"><li> Empresa </li></a>
                <a href="#produtos"><li> Produtos </li></a>
                <a href="#contato"><li> Contato </li></a>
                <a href="#feedbacks"><li> Feedbacks </li></a>
    
            </ul>
        </nav>
    </header>

    <main>
        <div id="inicio" class="sessoes">


        </div>
        
        <div id="aEmpresa" class="sessoes">
            <h2>Empresa</h2>
            <p>A loja Joaninha Baby - Uma Loja Diferente, foi fundada em 2017 e é uma empresa familiar de comércio de roupas, sapatos e acessórios infantis tanto novos quanto seminovos.</p>
            <p>Atendemos através das redes sociais, <a href="https://www.facebook.com/joaninhababycampinas" target="_blank">Facebook</a>, <a href="https://www.instagram.com/joaninha_baby/" target="_blank">Instagram</a>, <a href="https://wa.me/5519999084003?text=Olá!%20Vim%20do%20site%20e%20desejo%20receber%20atendimento" target="_blank">WhatsApp</a> e pessoalmente no nosso endereço no Padre Anchieta, em Campinas.</p>
            <p>Nossa missão é promover o reuso de roupas infantis e estimular os pais e responsáveis a serem ecologicamente corretos; a visão de ser um nome lembrado sempre que falarmos em reciclagem de roupas infantis e ótimos preços; e como valores principais enviar junto aos seus produtos muita atenção e carinho, se preocupando com os filhos dos clientes como se fossem nossos.</p>
        </div>
        
        <div id="produtos" class="sessoes">
            <h2>Produtos</h2>
            <div id="iconesProdutos">
                <figure>
                    <a href="https://www.instagram.com/stories/highlights/17904968149877132/" target="_blank">
                        <img class="formatoIconeProdutos" src="../../assets/img/laço.png" alt="Meninas">
                        <figcaption>Meninas <br> 1 a 3 anos</figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="https://www.instagram.com/stories/highlights/17920926502711725/" target="_blank">
                        <img class="formatoIconeProdutos" src="../../assets/img/laço.png" alt="Meninas">
                        <figcaption>Meninas <br> 4 a 8 anos</figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="https://www.instagram.com/stories/highlights/17971445758397895/" target="_blank">
                        <img class="formatoIconeProdutos" src="../../assets/img/laço.png" alt="Meninas">
                        <figcaption>Meninas <br> + 8 anos </figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="https://www.instagram.com/stories/highlights/17935917211531428/" target="_blank">
                        <img class="formatoIconeProdutos" src="../../assets/img/laço.png" alt="Meninas">
                        <figcaption>Meninas <br> P, M, G</figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="https://www.instagram.com/stories/highlights/17918258443734336/" target="_blank">
                        <img class="formatoIconeProdutos" src="../../assets/img/football.png" alt="Meninos">
                        <figcaption>Meninos <br> 1 a 3 anos</figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="https://www.instagram.com/stories/highlights/17919238807701263/" target="_blank">
                        <img class="formatoIconeProdutos" src="../../assets/img/football.png" alt="Meninos">
                        <figcaption>Meninos <br>4 a 8 anos</figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="https://www.instagram.com/stories/highlights/17971445758397895/" target="_blank"> 
                        <img class="formatoIconeProdutos" src="../../assets/img/football.png" alt="Meninos">
                        <figcaption>Meninos <br>+ 8 anos</figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="https://www.instagram.com/stories/highlights/17888957711126251/" target="_blank">
                        <img class="formatoIconeProdutos" src="../../assets/img/football.png" alt="Meninos">
                        <figcaption>Meninos <br>P, M, G</figcaption>
                    </a>
                </figure>
            </div>
        </div>
        
        <div id="contato" class="sessoes">
            <h2>Contato</h2>
            <form action="">
                <input class="inp" type="text" name="nmNome" id="" placeholder="Nome"> <br>
                <input class="inp" type="text" name="nmEmail" id="" placeholder="E-mail"> <br>
                <input class="inp" type="text" name="nmAssunto" id="" placeholder="Assunto"> <br>   
    
                <textarea name="nmMsg" id="" cols="30" rows="10" placeholder="Digite sua mensagem..."></textarea> <br>
                <input type="submit" name="nmEnviar" id="idBtnEnviar" value="Enviar">
            </form>
        </div>

        <div id="feedbacks" class="sessoes">
            <h2>Feedbacks</h2>

            <ul class="sliderFeedback">
                <li>
                    <input type="radio" id="slideF1" name="slideF" checked>
                    <label for="slideF1"></label>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fwilma.oliveira1307%2Fposts%2F10218846027774270&show_text=true&width=500" width="500" height="186" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>                    </li>
                <li>
                    <input type="radio" id="slideF2" name="slideF">
                    <label for="slideF2"></label>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fbeatriz.botelho.547%2Fposts%2F1129489053922100&show_text=true&width=500" width="500" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </li>
                <li>
                    <input type="radio" id="slideF3" name="slideF">
                    <label for="slideF3"></label>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fodair.oliveira.1694%2Fposts%2F895998000754043&show_text=true&width=500" width="500" height="169" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>                </li>
            </ul>
        </div>

        <div id="animationWpp">
            <a id="whatsapp" href="https://wa.me/5519999084003?text=Olá!%20Vim%20do%20site%20e%20desejo%20receber%20atendimento" target="_blank">
                <i class="bi bi-whatsapp"></i>

            </a>
        </div>

    </main>
    
    
    <footer>
        <p> R. Papa Leão V, 92 - Conj. Hab. Padre Anchieta, Campinas - SP, 13068-133 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 19 99908-4003 </p>

        <a  href="https://www.facebook.com/joaninhababycampinas/" target="_blank"><i class="bi bi-facebook"></i>        </a>
        <a href="https://www.instagram.com/joaninha_baby/" target="_blank"><i class="bi bi-instagram"></i></a>        
    </footer>
</ng-container>

<ng-template #newsletterModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Cadastre-se em nossa Newsletter!</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Calcelar</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Sim</button>
    </div>
</ng-template>