<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link " [ngClass]="cadastroTab.class" aria-current="page"
            (click)="tabsOnClick(cadastroTab, emailTab)">Cadastros</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " [ngClass]="emailTab.class" (click)="tabsOnClick(emailTab, cadastroTab)">E-mails</a>
    </li>

</ul>

<ng-container *ngIf="cadastroTab.on; else teste">
    <app-cadastro></app-cadastro>
</ng-container>

<ng-template #teste>
    <app-envio-emails></app-envio-emails>
</ng-template>